@import '../../styles/variables';

$nb-delivery-date-item-background: var(--nb-delivery-date-item-background, $nb-color-surface-variant);
$nb-delivery-date-item-color: var(--nb-delivery-date-item-color, $nb-color-title);
$nb-delivery-date-item-height: var(--nb-delivery-date-item-height, 50px);
$nb-delivery-date-item-radius: var(--nb-delivery-date-item-radius, $nb-radius-xs);
$nb-delivery-date-active-background: var(--nb-delivery-date-active-background, $nb-color-primary-light);
$nb-delivery-date-active-color: var(--nb-delivery-date-active-color, $nb-color-primary);
$nb-delivery-date-disabled-background: var(--nb-delivery-date-disabled-background, $nb-color-background);
$nb-delivery-date-disabled-color: var(--nb-delivery-date-disabled-color, $nb-color-text-disabled);

.nb-delivery-date {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &__list {
    padding: 15px $nb-spacing-xl 5px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: $nb-delivery-date-item-height;
    padding: 0 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: $nb-delivery-date-item-background;
    border: 1px solid transparent;
    border-radius: $nb-delivery-date-item-radius;
    color: $nb-delivery-date-item-color;
    font-size: $nb-font-size-base;
    text-align: center;
    overflow: hidden;

    &--current {
      background-color: $nb-delivery-date-active-background;
      border-color: $nb-delivery-date-active-color;
      color: $nb-delivery-date-active-color;
    }

    &--disable {
      background-color: $nb-delivery-date-disabled-background;
      border-color: $nb-delivery-date-disabled-background;
      color: $nb-delivery-date-disabled-color;
    }
  }

  &__item-text {
    @include text-ellipsis;
    max-width: 100%;
  }
}
