.DS_Store
node_modules
.idea
.vscode
dist
coverage
project.private.config.json
# 由 scripts/generate.mjs 生成
/demo/app.config.ts
/demo/groups.ts
/demo/pages/*/
!/demo/pages/index/
npm-debug.log*
yarn.lock
package-lock.json
.swc
