@import '../../styles/variables';

$nb-invoice-title-list-background: var(--nb-invoice-title-list-background, $nb-color-surface);
$nb-invoice-title-list-radius: var(--nb-invoice-title-list-radius, 10px);
$nb-invoice-title-list-title-color: var(--nb-invoice-title-list-title-color, $nb-color-title);
$nb-invoice-title-list-label-color: var(--nb-invoice-title-list-label-color, $nb-color-text-help);
$nb-invoice-title-list-default-background: var(--nb-invoice-title-list-default-background, $nb-color-primary);
$nb-invoice-title-list-checked-color: var(--nb-invoice-title-list-checked-color, $nb-color-primary);
$nb-invoice-title-list-veto-color: var(--nb-invoice-title-list-veto-color, $nb-color-primary);
$nb-invoice-title-list-approval-color: var(--nb-invoice-title-list-approval-color, $nb-color-warning);

.nb-invoice-title-list {
  margin-bottom: 10px;
  padding: 15px 15px 0;
  border-radius: $nb-invoice-title-list-radius;
  background-color: $nb-invoice-title-list-background;
  box-sizing: border-box;

  &__main {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid $nb-color-border;
  }

  &__checked {
    flex-shrink: 0;
    margin-left: 5px;
    color: $nb-invoice-title-list-checked-color;
  }

  &__body {
    flex: 1;
    min-width: 0;

    &--selected {
      margin-left: 17px;
    }
  }

  &__main-title {
    display: flex;
  }

  &__main-default,
  &__main-status {
    flex-shrink: 0;
  }

  &__main-default {
    align-self: flex-start;
    width: 32px;
    margin-right: 6px;
    border-radius: 3px;
    background: $nb-invoice-title-list-default-background;
    color: $nb-color-primary-text;
    font-size: $nb-font-size-s;
    font-weight: $nb-font-weight-medium;
    line-height: 18px;
    text-align: center;
  }

  &__main-text {
    flex: 1;
    min-width: 0;
    margin-right: 10px;
    color: $nb-invoice-title-list-title-color;
    font-size: $nb-font-size-base;
    font-weight: $nb-font-weight-bold;
  }

  &__main-status {
    font-size: 13px;
    color: $nb-invoice-title-list-title-color;

    &--veto {
      color: $nb-invoice-title-list-veto-color;
    }

    &--approval {
      color: $nb-invoice-title-list-approval-color;
    }
  }

  &__info {
    display: flex;
    margin-top: 15px;
    font-size: 13px;
  }

  &__info-title {
    flex-shrink: 0;
    width: 108px;
    color: $nb-invoice-title-list-label-color;
  }

  &__info-content {
    flex: 1;
    min-width: 0;
    color: $nb-invoice-title-list-title-color;
    font-weight: $nb-font-weight-medium;
    @include text-ellipsis;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    padding: 10px 0;
  }
}
