@import '../../styles/variables';

$nb-addressedit-background: var(--nb-addressedit-background, $nb-color-surface);
$nb-addressedit-label-width: var(--nb-addressedit-label-width, 80px);
$nb-addressedit-label-color: var(--nb-addressedit-label-color, $nb-color-title);
$nb-addressedit-font-size: var(--nb-addressedit-font-size, $nb-font-size-base);
$nb-addressedit-placeholder-color: var(--nb-addressedit-placeholder-color, $nb-color-text-disabled);
$nb-addressedit-border-color: var(--nb-addressedit-border-color, $nb-color-border);
$nb-addressedit-error-color: var(--nb-addressedit-error-color, $nb-color-primary);

.nb-addressedit {
  padding: 5px 10px;
  background-color: $nb-addressedit-background;
  border-radius: $nb-radius-xs;
  box-sizing: border-box;

  &--with-save {
    padding-bottom: 80px;
  }

  &__item {
    padding: 12px 10px;
    color: $nb-addressedit-label-color;
    font-size: $nb-addressedit-font-size;
    border-bottom: 1px solid $nb-addressedit-border-color;

    &--default {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: none;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    min-height: 24px;
  }

  &__label {
    position: relative;
    flex-shrink: 0;
    width: $nb-addressedit-label-width;
    margin-right: 10px;
    line-height: 24px;
  }

  &__required {
    position: absolute;
    left: -8px;
    color: $nb-addressedit-error-color;
  }

  &__input {
    flex: 1;
    min-width: 0;
    --nutui-input-font-size: #{$nb-addressedit-font-size};
  }

  &__region {
    display: flex;
    flex: 1;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
  }

  &__region-text {
    flex: 1;
    min-width: 0;
    @include text-ellipsis;

    &--placeholder {
      color: $nb-addressedit-placeholder-color;
    }
  }

  &__region-arrow {
    flex-shrink: 0;
    margin-left: 6px;
    color: $nb-color-text-help;
    --nut-icon-color: #{$nb-color-text-help};
  }

  &__error {
    margin-top: 4px;
    padding-left: calc(#{$nb-addressedit-label-width} + 10px);
    color: $nb-addressedit-error-color;
    font-size: $nb-font-size-s;
    line-height: 1.2;
  }

  &__default-label {
    margin-right: 20px;
  }

  &__bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    padding: 12px 18px;
    padding-bottom: calc(12px + constant(safe-area-inset-bottom));
    padding-bottom: calc(12px + env(safe-area-inset-bottom));
    background-color: $nb-addressedit-background;
    box-sizing: border-box;
  }
}
