@import '../../styles/variables';

$nb-search-history-background: var(--nb-search-history-background, $nb-color-surface);
$nb-search-history-title-color: var(--nb-search-history-title-color, $nb-color-title);
$nb-search-history-tag-color: var(--nb-search-history-tag-color, $nb-color-text);
$nb-search-history-tag-background: var(--nb-search-history-tag-background, $nb-color-background);
$nb-search-history-tag-radius: var(--nb-search-history-tag-radius, 3px);
$nb-search-history-help-color: var(--nb-search-history-help-color, $nb-color-text-help);

.nb-search-history {
  background-color: $nb-search-history-background;
  color: $nb-search-history-title-color;

  &__bar {
    border-bottom: 1px solid $nb-color-border;
  }

  &__bar-icon {
    display: flex;
    align-items: center;
  }

  &__bar-right {
    display: flex;
    align-items: center;
    font-size: $nb-font-size-base;
  }

  &__recent,
  &__discover {
    margin: 15px;
  }

  &__discover {
    display: flex;
    flex-direction: column;
    min-height: 80px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    margin-bottom: 13px;
  }

  &__title-text {
    display: flex;
    align-items: center;
    font-size: $nb-font-size-base;
    font-weight: $nb-font-weight-medium;
  }

  &__icons,
  &__actions,
  &__hidden {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    color: $nb-color-text;

    &--refresh {
      margin-right: 10px;
    }
  }

  &__actions {
    font-size: $nb-font-size-s;
  }

  &__divider {
    margin: 0 10px;
    color: $nb-color-border;
  }

  &__hidden-text {
    margin-right: 5px;
    font-size: $nb-font-size-s;
    color: $nb-search-history-help-color;
  }

  &__no-discover-data {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
    font-size: $nb-font-size-s;
    color: $nb-search-history-help-color;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }

  &__tag {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 24px;
    margin: 0 10px 10px 0;
    padding: 0 13px;
    border-radius: $nb-search-history-tag-radius;
    background-color: $nb-search-history-tag-background;
    color: $nb-search-history-tag-color;
    font-size: $nb-font-size-s;
    line-height: 24px;
    box-sizing: border-box;
  }

  &__tag-text {
    @include text-ellipsis;
  }

  &__tag-close {
    flex-shrink: 0;
    margin-left: 5px;
    color: $nb-search-history-title-color;
  }
}
