@import '../../styles/variables';

$nb-login-background: var(--nb-login-background, $nb-color-surface);
$nb-login-input-border-color: var(--nb-login-input-border-color, $nb-color-border);
$nb-login-input-radius: var(--nb-login-input-radius, $nb-radius-xs);
$nb-login-link-color: var(--nb-login-link-color, $nb-color-info);
$nb-login-error-color: var(--nb-login-error-color, $nb-color-primary);
$nb-login-code-color: var(--nb-login-code-color, $nb-color-text);

.nb-login {
  display: flex;
  flex-direction: column;
  padding: 18px;
  background: $nb-login-background;
  color: $nb-color-title;
  box-sizing: border-box;

  &__logo {
    width: 80px;
    height: 80px;
    margin: 20px auto 15px;
  }

  &__logo-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin: 10px;
    font-size: 24px;
    font-weight: $nb-font-weight-bold;
  }

  &__content {
    margin: 20px 0 10px;
  }

  &__input-wrap {
    position: relative;
    display: flex;
    align-items: center;
    transition: margin 0.2s;

    &--error {
      margin-bottom: 10px;
    }
  }

  &__input-item {
    flex: 1;
    min-width: 0;
    display: flex;
    align-items: center;
    min-height: 45px;
    margin-bottom: 15px;
    border: 1px solid $nb-login-input-border-color;
    border-radius: $nb-login-input-radius;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__input {
    flex: 1;
    min-width: 0;
    --nutui-input-padding: 8px 15px;
  }

  &__hide-icon {
    display: flex;
    align-items: center;
    padding: 0 12px 0 6px;
    color: $nb-color-text-help;
  }

  &__code-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 100px;
    height: 26px;
    padding: 0 5px;
    border-left: 1px solid $nb-login-input-border-color;
    font-size: $nb-font-size-base;
    color: $nb-login-code-color;
    box-sizing: border-box;

    &--disabled {
      color: $nb-color-text-disabled;
    }
  }

  &__code-count {
    width: 100%;
    text-align: center;
  }

  &__forget-pwd {
    flex-shrink: 0;
    width: 55px;
    margin: 0 0 15px 10px;
    font-size: $nb-font-size-s;
    color: $nb-login-link-color;
  }

  &__error-msg {
    position: absolute;
    left: 0;
    bottom: -4px;
    padding: 0 18px;
    font-size: $nb-font-size-s;
    color: $nb-login-error-color;
  }

  &__protocol {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: $nb-font-size-s;
  }

  &__protocol-text {
    flex: 1;
    margin-left: 5px;
    line-height: 18px;
  }

  &__btn {
    margin: 0 0 15px;
  }

  &__switch-type {
    margin: 0 auto 10px;
    font-size: $nb-font-size-base;
    color: $nb-login-link-color;
  }
}
