@import '../../styles/variables';

$nb-card-background: var(--nb-card-background, $nb-color-surface);
$nb-card-image-size: var(--nb-card-image-size, 120px);
$nb-card-title-color: var(--nb-card-title-color, $nb-color-title);
$nb-card-title-font-size: var(--nb-card-title-font-size, $nb-font-size-base);
$nb-card-shop-color: var(--nb-card-shop-color, $nb-color-text-help);

.nb-card {
  width: 100%;
  background-color: $nb-card-background;
  box-sizing: border-box;

  &__main {
    display: flex;
  }

  &__left {
    position: relative;
    flex-shrink: 0;
    width: $nb-card-image-size;
    height: $nb-card-image-size;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img-tag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &--top-right {
      left: auto;
      right: 0;
    }
  }

  &__right {
    flex: 1;
    min-width: 0;
    padding: 10px;
  }

  &__title {
    color: $nb-card-title-color;
    font-size: $nb-card-title-font-size;
    line-height: 1.5;

    &--one-line {
      @include oneline-ellipsis;
    }

    &--multiple-lines {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
    line-height: 18px;
  }

  &__shop {
    display: flex;
    align-items: center;
    padding-top: 4px;
    color: $nb-card-shop-color;
    font-size: $nb-font-size-s;
    line-height: 1.5;
  }

  &__shop-name {
    @include text-ellipsis;
    max-width: 90%;
    margin-right: 4px;
  }

  // 上图下文, 双列
  &--half-line {
    display: inline-flex;
    flex-direction: column;
    width: 48%;
    vertical-align: top;

    .nb-card__main {
      flex-direction: column;
    }

    .nb-card__left {
      width: 100%;
      height: auto;
      padding-top: 100%;
    }

    .nb-card__image {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
