@import '../../styles/variables';

$nb-order-remark-title-color: var(--nb-order-remark-title-color, $nb-color-title);
$nb-order-remark-title-font-size: var(--nb-order-remark-title-font-size, $nb-font-size-l);
$nb-order-remark-textarea-border: var(--nb-order-remark-textarea-border, $nb-color-border);
$nb-order-remark-textarea-radius: var(--nb-order-remark-textarea-radius, $nb-radius-base);
$nb-order-remark-count-color: var(--nb-order-remark-count-color, $nb-color-text-help);
$nb-order-remark-tag-title-color: var(--nb-order-remark-tag-title-color, $nb-color-text-help);
$nb-order-remark-tag-color: var(--nb-order-remark-tag-color, $nb-color-title);
$nb-order-remark-tag-background: var(--nb-order-remark-tag-background, $nb-color-background);
$nb-order-remark-btn-background: var(--nb-order-remark-btn-background, $nb-color-surface);

.nb-orderRemark {
  &__title {
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0 48px;
    box-sizing: border-box;
    font-size: $nb-order-remark-title-font-size;
    font-weight: $nb-font-weight-medium;
    color: $nb-order-remark-title-color;
    text-align: center;
    @include text-ellipsis;
  }

  &__textarea-container {
    padding: 10px 15px;
  }

  &__textarea-box {
    padding: 10px;
    border: 1px solid $nb-order-remark-textarea-border;
    border-radius: $nb-order-remark-textarea-radius;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 100px;
    font-size: $nb-font-size-base;
    line-height: 1.5;
    color: $nb-order-remark-title-color;
  }

  &__placeholder {
    color: $nb-order-remark-count-color;
  }

  &__count {
    margin-top: 4px;
    text-align: right;
    font-size: $nb-font-size-s;
    color: $nb-order-remark-count-color;
  }

  &__tag-container {
    padding: 5px 15px 0;
  }

  &__tag-title {
    margin-bottom: 10px;
    font-size: $nb-font-size-s;
    color: $nb-order-remark-tag-title-color;
  }

  &__tag-content {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
  }

  &__tag {
    max-width: 100%;
    margin: 0 10px 10px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: $nb-font-size-s;
    line-height: 18px;
    color: $nb-order-remark-tag-color;
    background: $nb-order-remark-tag-background;
    border-radius: 14px;
  }

  &__opt-container {
    width: 100%;
    padding: 10px 20px;
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
    box-sizing: border-box;
    background: $nb-order-remark-btn-background;
    box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);
  }
}
